.navbar-brand {
    margin-left: 35% ;
    font-size: 50px;
    font-display: center;
}

.input-group    {

}

.search_field {
    margin-top: 10px;
    display: inline-block;
    border: 1px inset #ccc;
}

.search_field input {
    border: 5px;
    padding: 0;
}

.search_field button {
    border: 5px;
    background-color: lightblue;
}

.city-input {
    background-color: lightgrey;
}

.first-column   {
    float: left;
    background-color: whitesmoke;
}

.weather-result {
    background-color: white;
    border:10px;
    border-style:double;
    border-radius: 15px;
}

.forecast-result  {
   
margin-top:100px}

.forecast-columns    {
    margin:0 10px;
    background-color: lightskyblue;
    border-radius: 15px; 
}
.card-deck  {
    margin-top: 100px;
}

#city-location  {
    display: flex;
align-items: center;
}


.red {
    background-color: #ff6961;
    color: white;
  }
  
  .green {
    background-color: #77dd77;
    color: white;
  }

  .yellow   {
      background-color: yellow;
  }